/* Regular (Roman) */
@font-face {
  font-family: 'Galliard';
  src: url('/src/assets/fonts/Galliard\ Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Galliard';
  src: url('/src/assets/fonts/Galliard\ BoldItalic.ttf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: 'Galliard';
  src: url('/src/assets/fonts/Galliard\ BoldItalic.ttf') format('opentype');
  font-weight: 500;
  font-style: italic;
}



body{
  font-family: 'Galliard', sans-serif;
}

.h1, h2, h3, h4, h5, h6{
  font-family: "Galliard";
  font-weight: 500;
}

p, span, button, select, option, a, div, li{
  font-family: 'Galliard', sans-serif;
}

.heading{
  font-family: "Galliard";
  font-style: italic;
  font-weight: 500;
  font-size: 40px;
  color: #2B354F;
  line-height: 20.02px;
}

